:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

pre {
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  width: fit-content;
}

td > pre {
  background: none !important;
  padding: 0;
}

table tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  color: #0066FF;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 30px;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.app-container {
  padding: 1rem;
  width: calc(100% - 2rem);
}

.section-input {
  max-height: 500px;
  max-width: 800px;
  padding-right:1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.tiptap {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: left;
  font-size: 0.8rem;
}

.tiptap p {
  padding: 0;
  margin: 0 0 1rem;
}

label {
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  flex-direction: row;
  align-items: center;
}

input {
  height: 1rem;
  padding: 0.25rem;
}

table {
  border-collapse: collapse;
}

table tr td {
  margin: 0.5rem;
  padding: 0 1rem;
  vertical-align: center;
  text-align: center;
}

table tr td .section-input {
  margin: 0;
  height: auto;
  overflow: scroll;
}

.btn-blue {
  background-color: #0066FF;
  color: white;
}

.btn-green {
  background-color: #2FB600;
  color: white;
}

.btn-grey {
  background-color: #888888;
  color: white;
}